/* --------------------------------------------------------------------------------------------------------
 * General
---------------------------------------------------------------------------------------------------------- */

/* Importação da Font Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Global Variables */
:root {
    /* Font Family */
    --font-inter: 'Inter', sans-serif;

    /* Font Weights */
    --thin: 100;
    --extra-light: 200;
    --fw-light: 300;
    --regular: 400;
    --fw-medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
    --black: 900;

    /* Primary Colors */
    --dark: #5E2768;
    --medium: #88319A;
    --pure: #B54BD2;
    --light: #E3B7F0;
    --lightest: #F7EBFC;

    /* Secondary Colors */
    --secondary-dark: #0E0E0F;
    --secondary-medium: #434347;
    --secondary-pure: #595961;
    --secondary-light: #84858C;
    --secondary-lightest: #CFD0D2;

    /* Gray Color */
    --gray: #F4F4F4;
}

/* Estilos para todos os elementos da aplicação */
* {
    font-family: var(--font-inter);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Margin top para afastar o conteúdo da main do header com posição fixa da aplicação */
body {
    margin-top: 100px;
}

/* Definindo 50px de espaçamento superior e inferior para toda section */
section {
    padding: 50px 0;
}