/* --------------------------------------------------------------------------------------------------------
 * General
---------------------------------------------------------------------------------------------------------- */

/* Importação da Font Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Global Variables */
:root {
    /* Font Family */
    --font-inter: 'Inter', sans-serif;

    /* Font Weights */
    --thin: 100;
    --extra-light: 200;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
    --black: 900;

    /* Primary Colors */
    --dark: #5E2768;
    --medium: #88319A;
    --pure: #B54BD2;
    --light: #E3B7F0;
    --lightest: #F7EBFC;

    /* Secondary Colors */
    --dark-secondary: #0E0E0F;
    --medium-secondary: #434347;
    --pure-secondary: #595961;
    --light-secondary: #84858C;
    --lightest-secondary: #CFD0D2;

    /* Gray Color */
    --gray: #F4F4F4;
}

/* Estilos para todos os elementos da aplicação */
* {
    font-family: var(--font-inter);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}